<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GestorComercialEntityFramework.Properties.Settings.managerConnectionString"
      connectionString="server=localhost;user id=MANAGER_USER;password=fjeclot;database=manager;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="GestorComercialEntityFramework.Properties.Settings.MANAGERConnectionString1"
      connectionString="server=localhost;user id=MANAGER_USER;persistsecurityinfo=True;database=MANAGER"
      providerName="MySql.Data.MySqlClient" />
    <add name="GestorComercialEntityFramework.Properties.Settings.managerConnectionString2"
      connectionString="server=localhost;user id=MANAGER_USER;persistsecurityinfo=True;database=manager"
      providerName="MySql.Data.MySqlClient" />
    <add name="GestorComercialEntityFramework.Properties.Settings.MANAGERConnectionString3"
      connectionString="server=localhost;user id=MANAGER_USER;password=fjeclot;persistsecurityinfo=True;database=MANAGER"
      providerName="MySql.Data.MySqlClient" />
    <add name="GestorComercialEntityFramework.Properties.Settings.managerConnectionString4"
      connectionString="server=localhost;user id=MANAGER_USER;password=fjeclot;persistsecurityinfo=True;database=manager"
      providerName="MySql.Data.MySqlClient" />
    <add name="GestorComercialEntityFramework.Properties.Settings.MANAGERConnectionString5"
      connectionString="server=localhost;user id=MANAGER_USER;password=fjeclot;persistsecurityinfo=True;database=MANAGER;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
	  <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
	  <providers>
		  <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
	  </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>